{% extends "ground/base.html" %}
{% block content %}
    <script>
        const x = document.getElementsByTagName("BODY")[0];
        x.classList.add("deep-blue-gradient");
    </script>
    <div class="container-fluid col-md-8 content-below-nav">
        <div style="transform: translateY(30vh)" class="align-center mt-5 p-3 ">
            <center>
                <h4 class="text-black">Request sent to {{ username }}. Kindly visit this <a
                        href="{% url 'users-trip' %}">link</a> to check if the host has accepted your request.</h4>
            </center>
        </div>
    </div>
{% endblock content %}